
* {
    --base_color: #01689b;
    --base_color_darker: #003c5a;
    --main-content-background: #f3f3f3;
}

.top-logo {
    display: flex;
    justify-content: center;
}

.nav-bar {
    background-color: var(--base_color);
    min-height: 70px;
    display: flex;
    align-items: center;
}

.wrapper {
    display: flex;
    align-items: center;
    justify-self: center;
    margin: auto;
}

.wrapper > a {
    margin-left: 15px;
    font-size: 1.5rem;
    font-weight: 700;
}

.wrapper ul {
    list-style-type: none;
    display: flex;
    justify-self: flex-end;
    margin-left: auto;
}

.wrapper li {
    padding: 0 10px;
    font-size: 1.25rem;
}

.wrapper a {
    color: white;
    text-decoration: none;
}

.wrapper a:hover {
    text-decoration: underline;
}

.hamburger-button {
    display: none;
    justify-self: flex-end;
    margin-left: auto;
    background-color: transparent;
    color: white;
    border: none;
}

.hamburger-button i {
    font-size: 2.5rem;
}

.slide {
    background-image: url(https://www.rijksoverheid.nl/binaries/widescreen/content/gallery/rijksoverheid/attentie-afbeeldingen/home/2019/isoleren-woning-hero-2.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    padding: 40px;
}

.top-task-navigation {
    background-color: white; 
    padding: 15px;
    color: var(--base_color);
}

.top-task-navigation h2 {
    color: black;
    font-weight: 300;
}

.tasks {
    list-style-type: none;
    padding-left: 0;
}

.tasks li::before {
    content: "> ";
    font-weight: 900;
}

.tasks li a {
    text-decoration: none;
    font-family: 'Lato', sans-serif;
    color: var(--base_color);
    font-weight: 900;
    line-height: 2.5rem;
}

.tasks li a:hover {
    text-decoration: underline;
    color: var(--base_color_darker);
}

.search-bar {
    justify-self: flex-end;
    margin-left: auto;
    display: flex;
    height: 50px;
    flex-basis: 33.333%;
}

.search-bar input {
    flex-grow: 1;
}

.search-bar button {
    background-color: black;
    color: white;
    border: none;
}

.main-content-wrapper {
    background-color: var(--main-content-background);
}

.main-content-list, .image-content-list {
    display: flex;
    flex-wrap: wrap;
    list-style-type: none;
    justify-content: space-between;
    padding-left: 0;
}

.content-item a {
    text-decoration: none;
}

.content-item h3 {
    color: var(--base_color);
    font-size: 1.5rem;
}

.content-item p {
    color: var(--base_color_darker);
    font-weight: 500;
    font-size: 1.25rem;
    line-height: 1.75rem;
}

.content-item:hover h3 {
    text-decoration: underline;
}

.image-content-item-image img{
    width: 100%;
}

@media screen and (min-width: 1200px) {
    .wrapper {
        flex-basis: 80%;
    }

    .top-task-navigation {
        flex-basis: 33.333%;
    }

    .content-item {
        flex-basis: 22%;
    }

    .main-content-wrapper, .image-content-wrapper {
        padding: 50px 10%;
    }

    .image-content-item {
        flex: 1 1 30%;
        max-width: 30%;
        margin: 0;
    }
}

@media screen and (min-width: 900px) and (max-width: 1200px) {
    .wrapper {
        flex-basis: 100%;
        padding: 0 15px;
        flex-wrap: wrap;
    }

    .top-task-navigation {
        flex-basis: 33.333%;
    }


    .wrapper li {
        font-size: 1rem;
    }

    .content-item {
        flex-basis: 30%;
    }

    .main-content-wrapper, .image-content-wrapper {
        padding: 50px 50px;
    }

    .image-content-item {
        flex: 0 0 45%;
    }

    .image-content-item:last-child {
        flex-grow: 1;
    }
    
}

@media screen and (min-width: 600px) and (max-width: 900px) {
    .wrapper {
        flex-basis: 100%;
        padding: 0 15px;
        flex-wrap: wrap;
    }

    .slide {
        flex-wrap: wrap;
        padding: 40px 20px;
    }

    .top-task-navigation {
        flex-basis: 100%;
        order: 2;
    }

    .search-bar {
        order: 1;
        flex-basis: 100%;
        margin-bottom: 10px;
    }

    .wrapper ul {
        display: none;
    }

    .hamburger-button {
        display: inline-block;
    }

    .content-item {
        flex-basis: 45%;
    }

    .main-content-wrapper, .image-content-wrapper {
        padding: 50px 25px;
    }

    .image-content-item {
        flex: 0 0 45%;
    }

    .image-content-item:last-child {
        flex-grow: 1;
    }
}

@media screen and (max-width: 600px) {
    .wrapper {
        flex-basis: 100%;
        padding: 0 15px;
        flex-wrap: wrap;
    }

    .wrapper ul {
        display: none;
    }

    .hamburger-button {
        display: inline-block;
    }

    .slide {
        flex-wrap: wrap;
        padding: 40px 20px;
    }

    .top-task-navigation {
        flex-basis: 100%;
        order: 2;
    }

    .search-bar {
        order: 1;
        flex-basis: 100%;
        margin-bottom: 10px;
    }

    .content-item {
        flex-basis: 100%;
    }

    .main-content-wrapper, .image-content-wrapper {
        padding: 50px 10px;
    }

    .image-content-item {
        flex: 0 0 100%;
    }
}